ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input, iframe, img { margin: 0; padding: 0; border: 0; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img { margin: 0; padding: 0; border: 0; }
 a img { border: 0; }
 a { text-decoration: none; outline: none; }
 body { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
 input:focus, select:focus, textarea:focus, button:focus { outline: none; }
 html { height: 100%; }
 body { background: #fff; width: 100%; height: 100%; margin: 0 !important; padding: 0 !important; }
 #wrapper { position: relative; width: 100%; height: 100%; }
 #panel-one, #panel-two { width: 50%; }
 #panel-one { position: fixed; left: 0; top: 0; height: 100%; overflow: hidden; }
 #panel-two { position: relative; left: 0; margin-left: 50%; }
 .postload #panel-two { height: 100%; }
 .wsite-header-section { text-align: left; }
 .container, .wsite-footer { padding: 10px 80px; }
 #footer { position: relative; }
 .wsite-footer { padding-top: 0 !important; }
 .wsite-footer:before { content: ''; display: block; width: 100%; height: 1px; margin: 0 auto 60px; background: #d8d8d8; }
 .scrolltop { display: none; position: absolute; top: 0; padding: 8px 5px; background: #d8d8d8; color: #fff; font-size: 12px; font-family: 'Montserrat'; font-weight: 500; line-height: 8px; font-display: swap;}
 body { color: #333333; font: 16px/1 'Source Sans Pro', arial, sans-serif; }
 a { color: #999999; transition: all 200ms linear; }
 h2 { font-family: 'Montserrat'; font-weight: normal; margin: 0 auto 1em; font-size: 1.25em; letter-spacing: -0.025em; font-display: swap;}
 div.paragraph, div.paragraph { margin: 0 auto 2em; line-height: 1.75; }
 div.paragraph, p { margin: 0 auto 2em; line-height: 1.75; }
 .paragraph a, div.paragraph a { color: rgba(51,51,51,0.6); }
 .paragraph a, p a { color: rgba(51,51,51,0.6); }
 .paragraph a:hover, div.paragraph a:hover { text-decoration: underline; }
 .paragraph a:hover, p a:hover { text-decoration: underline; }
 .wsite-background, .shade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 .wsite-background { z-index: 0; background: url(theme/images/bg-gray.jpg?1487788103) center center no-repeat; background-size: cover; }
 .shade { position: absolute; z-index: 1; background: rgba(51,51,51,0.6); background: linear-gradient(to bottom,rgba(51,51,51,0.2) 0%,rgba(51,51,51,0) 100%); }
 .hamburger, #logo { position: absolute; }
 .hamburger { top: 40px; left: 40px; z-index: 6; }
 #logo { top: 40px; left: 0; padding: 0 40px; text-align: center; box-sizing: border-box; z-index: 1; }
 body.w-navpane-is-forced #logo { padding: 0 90px; }
 #wsite-title { color: #fff; font-family: 'Montserrat'; font-size: 1.6em; line-height: 1.25; font-weight: 900; text-transform: uppercase; letter-spacing: -0.035em; font-display: swap;}
 #logo img { max-width: 100%; }
 .wsite-nav-cart { position: absolute !important; display: block !important; top: 40px; right: 40px; list-style: none; z-index: 2; }
 #wsite-nav-cart-a { display: block; font-size: 0 !important; }
 #wsite-nav-cart-num { display: block; box-sizing: border-box; width: 26px; height: 27px; padding: 9px 4px 0; color: #fff; background: url(theme/images/cart.png?1487788103) no-repeat center center; background-size: contain; font-family: 'Montserrat'; font-size: 14px; line-height: 1; font-weight: 500; text-align: center; font-display: swap;}
 #wsite-mini-cart { border: none !important; width: 300px !important; box-shadow: none !important; margin-left: -27px; }
 @media (min-width: 1025px) {
 #wsite-mini-cart:after { left: 89% !important; }
 }
 #wsite-mini-cart.arrow-top:before { border-bottom-color: transparent !important; }
 #wsite-mini-cart .wsite-product-list .wsite-list-image-container { margin: 5px; }
 #wsite-mini-cart .wsite-items-right { padding-right: 0; }
 #wsite-mini-cart .wsite-name-header { font-weight: bold; }
 .wsite-product-list .wsite-vertical-align { padding: 6px !important; }
 .wsite-cart-bottom { padding: 0 10px 10px !important; }
 #wsite-mini-cart .wsite-remove-button { margin-right: 3px !important; }
 #wsite-mini-cart * { border: none !important; }
 body.w-navpane-is-forced #wsite-menus { display: none !important; }
 .nav li { list-style: none; }
 .nav li a, #wsite-menus .wsite-menu li a { color: #999999; display: block; padding: 10px 20px; font-family: 'Montserrat'; font-size: 1.15em; font-weight: 500; text-transform: uppercase; font-display: swap;}
 #wsite-menus, #wsite-menus .wsite-menu-wrap { font-size: inherit; }
 .nav #active a, .nav a:hover { color: #fff; }
 .nav { position: fixed; top: 0; left: 0; height: 100%; padding: 80px 40px; box-sizing: border-box; border: none; text-align: center; overflow: hidden; }
 .w-navpane { width: 50%; background: #222222; opacity: 0; z-index: -1; -webkit-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -moz-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -o-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -ms-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; }
 .w-navlist { position: absolute; top: auto; bottom: 0; left: 0; width: 100%; height: auto; padding: 0 20px; background: rgba(0,0,0,0.4); z-index: 1; }
 .w-navlist .menu-wrapper { display: block; width: 100%; margin: 0 auto; text-align: left; font-size: 0; }
 .nav.w-navlist li { display: inline-block; }
 .nav.w-navlist li a, #wsite-menus .wsite-menu li a { color: #fff; font-size: 15px; padding: 20px 10px; }
 #wsite-menus .wsite-menu li a { color: #fff; background: rgba(0,0,0,0.4); padding: 15px 10px; border: none; }
 #wsite-menus .wsite-menu li a:hover { background: rgba(0,0,0,0.85); }
 #wsite-menus span.wsite-menu-title { padding: 0; }
 .nav.w-navlist #active a { font-weight: bold; }
 .hamburger { width: 30px; height: 27px; box-sizing: border-box; }
 .hamburger:before { content: ''; position: relative; display: block; width: 30px; height: 27px; background: transparent url(./files/theme/images/close.png) no-repeat center center; background-size: contain; opacity: 0; transition: all 200ms linear; }
 .hamburger span { position: absolute; top: 0; left: 0; display: block; width: 30px; height: 27px; background: transparent url(./files/theme/images/hamburger.png) no-repeat center center; background-size: contain; background-size: 100% 100% !important; opacity: 1; transition: all 200ms linear; }
 .overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0; z-index: -1; -webkit-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -moz-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -o-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; -ms-transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; transition: opacity .35s ease-in-out, z-index .1s .35s ease-in-out; }
 body.w-navpane-is-open #nav { opacity: 1; z-index: 5; -webkit-transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -o-transition: opacity .35s ease-in-out; -ms-transition: opacity .35s ease-in-out; transition: opacity .35s ease-in-out; }
 body.w-navpane-is-open .hamburger:before { opacity: 1; }
 body.w-navpane-is-open .hamburger span { opacity: 0; }
 body.w-navpane-is-open #wrapper { height: 100%; }
 body.w-navpane-is-open #wrapper .overlay { opacity: .70; z-index: 5; -webkit-transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -o-transition: opacity .35s ease-in-out; -ms-transition: opacity .35s ease-in-out; transition: opacity .35s ease-in-out; }
 .wsite-mobile-menu { height: 100%; overflow-x: hidden; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
 .wsite-menu-slide { display: table; }
 .wsite-menu-slide > ul { display: table-cell; width: 100%; vertical-align: middle; }
 .wsite-menu-back-item a { font-weight: bold !important; color: #fff !important; }
 .wsite-menu-arrow { font-size: 0; margin-left: 10px; }
 .wsite-menu-arrow { display: none; }
 .wsite-menu-mobile-arrow { display: inline-block !important; font-size: inherit !important; padding: 0 5px; }
 .wsite-menu-mobile-arrow:before, .wsite-menu-arrow:before { display: inline-block; content: '\203A'; vertical-align: bottom; font-size: 1.15em; }
 .wsite-menu-arrow:before { font-size: 16px; }
 .wsite-menu-back-item .wsite-menu-mobile-arrow:before { content: '\2039' !important; }
 #banner h2 { margin: 0 auto; }
 #banner h2, .splash-page h2, .wsite-checkout-header { font-size: 60px; font-weight: 900; text-transform: uppercase; letter-spacing: -0.02em; }
 #banner .paragraph, #banner div.paragraph { color: #666666; font-family: "Montserrat"; line-height: 1.25; letter-spacing: -0.015em; margin: .75em auto; }
 #banner .paragraph, #banner p { color: #666666; font-family: "Montserrat"; line-height: 1.25; letter-spacing: -0.015em; margin: .75em auto; font-display: swap;}
 #banner .paragraph { font-size: 1.15em; }
 #banner .button-wrap { display: inline-block; }
 #banner .wsite-button { margin-top: 10px !important; }
 .splash-page #main, .splash-page #footer { display: none; }
 .splash-page #wrapper, .splash-page #panel-two { height: 100%; }
 .splash-page #banner { display: table; width: 100%; height: 100%; }
 .splash-page #banner .container { display: table-cell; text-align: center; vertical-align: middle; padding-bottom: 40px; }
 .splash-page #banner div.paragraph { margin: 1em auto 1.5em; }
 .splash-page #banner p { margin: 1em auto 1.5em; }
 .splash-page #banner .wsite-headline-paragraph { font-size: 1em; }
 #wsite-com-store .wsite-com-content:not(.wsite-com-content-with-sidebar) { padding: 0 !important; }
 .wsite-com-category-product-image-wrap, .wsite-com-category-product-featured-image-wrap, .wsite-com-category-subcategory-image-wrap { border: none; }
 .wsite-com-category-subcategory-name-bg { opacity: .65; background: rgba(51,51,51,0.6); -webkit-transition: opacity 240ms linear; -moz-transition: opacity 240ms linear; -o-transition: opacity 240ms linear; -ms-transition: opacity 240ms linear; transition: opacity 240ms linear; background: rgba(51,51,51,0); background: linear-gradient(to bottom,rgba(51,51,51,0.35) 0%,rgba(51,51,51,0.15) 100%); }
 .wsite-com-category-subcategory-name { top: 0; }
 .wsite-com-category-subcategory-name-text { display: table; padding: 0; width: 100%; height: 100%; text-shadow: none; -webkit-transition: all 240ms linear; -moz-transition: all 240ms linear; -o-transition: all 240ms linear; -ms-transition: all 240ms linear; transition: all 240ms linear; }
 .wsite-com-category-subcategory-name-text span { display: table-cell; vertical-align: middle; }
 .wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-name-bg { opacity: 1; }
 .wsite-com-sidebar { width: 140px; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-com-link-text { margin-bottom: 0; padding: 10px 0; }
 #wsite-com-store #wsite-com-hierarchy ul, .wsite-com-category-subcategory-name-text { font-family: "Montserrat"; font-size: 1em; font-weight: 500; text-transform: uppercase; font-display: swap;}
 #wsite-com-product-list .wsite-com-link { color: inherit; font-family: "Montserrat"; font-weight: 500; font-display: swap;}
 #wsite-com-product-title { font-weight: 700; }
 #wsite-com-product-price-area { font-size: 1em; }
 .wsite-com-product-option-label { margin: 0 auto 5px; }
 .wsite-com-product-option-color .wsite-com-product-option-color-swatch { border-radius: 0; box-shadow: none; outline: none; }
 .wsite-com-continue-shopping .caret { vertical-align: middle; }
 #blogTable > tbody > tr > td { display: block !important; width: 100% !important; margin: 0 auto; padding: 0 !important; }
 .blog-body { float: none !important; }
 .blog-sidebar .column-blog { width: 100%; float: none; padding-top: 2em; }
 .blog-sidebar-separator { padding: 0; }
 .blog-feed-link img { display: none; }
 .column-blog { width: 150px; }
 .blog-title a { display: block; color: inherit; font-size: 1.5em; padding-top: .75em; }
 .blog-header .blog-comments, .blog-separator { display: none; }
 .blog-title { position: relative; }
 .blog-date { position: absolute; top: 0; left: 0; color: #999999; font-size: .9em !important; font-weight: 700; }
 .blog-comments-bottom { font-size: .9em !important; font-weight: 700; }
 .blog-comment-area br { display: none; }
 .blogCommentReplyWrapper iframe { height: 450px !important; }
 .blog-content .paragraph:last-of-type { margin-bottom: 0; }
 .field-notify input { -webkit-appearance: checkbox !important; -moz-appearance: checkbox !important; appearance: checkbox !important; }
 #commentNotify + span { display: inline-block; margin-right: 10px; }
 hr.styled-hr { height: 1px; background: #D8D8D8; }
 blockquote { border-left: 6px solid #d8d8d8 !important; margin: 10px 0; padding-left: 20px; font-style: italic; line-height: 1.5; }
 .wsite-button, .wsite-button-inner, .blog-button, .blog-button span { float: none !important; height: auto !important; margin: 0 !important; padding: 0 !important; background: none !important; background-image: none !important; line-height: 1 !important; font-family: "Montserrat"; font-weight: 500; text-transform: uppercase; letter-spacing: -0.02em; font-display: swap;}
 .wsite-button .wsite-button-inner, .blog-button, .wsite-editor .wsite-button .wsite-button-inner { display: inline-block; padding: 0.85em 1.5em 0.75em !important; color: #ffffff !important; background: rgba(51,51,51,0.6) !important; border-color: rgba(51,51,51,0.6) !important; transition: all 200ms linear; }
 .wsite-button:hover .wsite-button-inner, .blog-button:hover { background: #333333 !important; border-color: #333333 !important; }
 .wsite-button-large .wsite-button-inner { padding: 0.9em 1.65em 0.8em !important; }
 .wsite-button-highlight .wsite-button-inner, .wsite-editor .wsite-button-highlight { background: none !important; color: #333333 !important; border: 2px solid #333333 !important; }
 .wsite-button-highlight:hover .wsite-button-inner { color: #ffffff !important; background: #333333 !important; border: 2px solid #333333 !important; }
 .wsite-social { font-size: 1.25em; white-space: normal; }
 .wsite-social-item { display: inline-block !important; margin: 0 5px 10px; }
 .wsite-social-item:hover { color: #494442; }
 .formlist, .wsite-editor .formlist { min-height: 0 !important; }
 .wsite-form-label { display: block; font-size: 1em !important; padding: 0 0 10px !important; }
 .wsite-form-sublabel { margin: 5px 0 -10px; }
 .wsite-form-input-container, .wsite-form-radio-container { margin-bottom: 20px; }
 input, textarea, select { -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; }
 .wsite-form-input, .wsite-search-element-input, .wsite-form-field select, .wsite-com-product-option select, #commentPostDiv .field input[type=text], #commentPostDiv .field textarea { color: inherit; background: #f0f0f0; border: solid 1px #f0f0f0; border-radius: 0; padding: 8px !important; min-height: 42px !important; box-sizing: border-box; transition: all 200ms linear; }
 .wsite-form-input:focus, .wsite-form-input--focus, .wsite-search-element-input:focus, #commentPostDiv .field input[type=text]:focus, #commentPostDiv .field textarea:focus { background: #fff; border-color: #D8D8D8; }
 .form-field-error .wsite-form-radio-container { border: none; }
 .form-required { color: rgba(51,51,51,0.6); }
 .wsite-form-field select, .wsite-com-product-option select { border-radius: 0; height: 42px !important; background: #f0f0f0 url(theme/images/dropdown.png?1487788103) no-repeat center right; background-size: contain; }
 .wsite-form-field input[type='checkbox'], .wsite-form-field input[type='radio'], .wsite-com-product-option-label input[type='radio'] { display: none; }
 .wsite-form-field input[type='checkbox'] + label:before, .wsite-form-field input[type='radio'] + label:before, .wsite-com-product-option-label input[type='radio'] + span:before { content: ''; display: inline-block; height: 24px; width: 24px; margin-right: 8px; background: #f0f0f0; vertical-align: middle; }
 .wsite-form-field input[type='radio'] + label:before, .wsite-com-product-option-label input[type='radio'] + span:before { height: 22px; width: 22px; border-radius: 100%; }
 .wsite-form-field input[type='radio']:checked + label:before, .wsite-com-product-option-label input[type='radio']:checked + span:before { background: #f0f0f0 url(theme/images/radio.png?1487788103) no-repeat center center; background-size: contain; }
 .wsite-form-field input[type='checkbox']:checked + label:before { background: #f0f0f0 url(theme/images/checkmark.png?1487788103) no-repeat center center; background-size: contain; }
 .form-field-error input[type='radio'] + label:before, .form-field-error input[type='checkbox'] + label:before { background: #cc0000; }
 .imageGallery .galleryCaptionInnerText div.paragraph, .imageGallery .galleryCaptionInnerText { font-weight: normal; }
 .imageGallery .galleryCaptionInnerText p, .imageGallery .galleryCaptionInnerText { font-weight: normal; }
 .imageGallery > div * { -webkit-backface-visibility: hidden; backface-visibility: hidden; }
 .galleryCaptionHolderInnerBg { background: rgba(51,51,51,0); background: linear-gradient(to bottom,rgba(51,51,51,0.35) 0%,rgba(51,51,51,0.15) 100%); opacity: 1 !important; }
 .imageGallery .galleryCaptionInnerText { line-height: 1.25; }
 .fancybox-skin { background: transparent !important; webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
 .fancybox-title { color: #fff; }
 .fancybox-overlay { background: rgba(0,0,0,0.85) !important; }
 .fancybox-close { right: 20px; top: 18px; }
 .fancybox-close, .fancybox-next span, .fancybox-prev span { background: none !important; width: auto; height: auto; }
 .fancybox-close:before, .fancybox-next span:before, .fancybox-prev span:before { font-size: 50px; line-height: .5; color: #fff !important; }
 .fancybox-close:hover:before, .fancybox-next:hover span:before, .fancybox-prev:hover span:before { color: #cccccc !important; }
 .fancybox-close:before { font-family: 'Calibri'; font-size: 50px; content: '\00D7'; }
 .fancybox-prev span:before { content: '\3008'; font-family: arial; }
 .fancybox-next span:before { content: '\3009'; font-family: arial; }
 .fancybox-title { font-size: 1em; }
 #fancybox-thumbs ul li a { border: none; }
 #fancybox-thumbs ul li.active { opacity: 1; }
 .wsite-product { border: solid 2px rgba(230,230,230,0.5); border-radius: 0; box-shadow: none; }
 .wsite-product-image { border: none; border-radius: 0; box-shadow: none; }
 #footer > div:not(.wsite-footer) { left: 0 !important; width: 100% !important; overflow: hidden; box-sizing: border-box; }
 .auto { top: auto !important; }
 @media (max-width: 1024px) {
 body { font-size: 14px; }
 #wrapper { position: relative; left: 0; -webkit-transition: left 300ms cubic-bezier(0,0.085,0.68,0.53); -moz-transition: left 300ms cubic-bezier(0,0.085,0.68,0.53); -o-transition: left 300ms cubic-bezier(0,0.085,0.68,0.53); -ms-transition: left 300ms cubic-bezier(0,0.085,0.68,0.53); transition: left 300ms cubic-bezier(0,0.085,0.68,0.53); }
 #panel-one, #panel-two { position: relative; width: 100%; }
 #panel-one { height: 400px; }
 #panel-two { margin-left: 0; }
 .postload #panel-two { height: auto; }
 .splash-page #panel-one, .splash-page #panel-two { display: table; width: 100%; height: 50vh; }
 .container, .wsite-footer { padding: 40px 60px; }
 #wsite-title { line-height: 1.5; }
 .scrolltop { display: block; }
 .nav { width: 100% !important; }
 body.w-navpane-is-open #wrapper #panel-one { position: relative; }
 .w-navlist { display: none; }
 .w-navpane-trigger { display: block; }
 #logo { padding: 0 90px; }
 #wsite-mini-cart { width: 135px !important; margin-left: 2px; background: none !important; border: 2px solid #fff !important; border-radius: 0 !important; }
 #wsite-com-minicart-checkout-button { display: block; text-align: center; padding: 15px !important; background: none !important; box-sizing: border-box; }
 #wsite-mini-cart .wsite-subtotal-wrapper { display: block; width: auto !important; margin: 5px 5px -20px; color: #fff; text-align: center; font-family: "Montserrat"; font-size: 12px; font-weight: 500; text-transform: uppercase; font-display: swap;}
 #wsite-mini-cart .wsite-button-wrapper { display: block !important; }
 .wsite-product-list { display: none !important; }
 .wsite-cart-bottom { padding: 0 !important; }
 #wsite-mini-cart .wsite-button-inner { float: none !important; }
 }
 @media (max-width: 767px) {
 .wsite-section-elements { overflow: hidden; }
 .wsite-multicol-col { display: block !important; width: auto !important; max-width: 100% !important; margin: 0 auto 1em !important; }
 #panel-one { height: 400px; }
 .container, .wsite-footer { padding: 10px 20px; }
 .wsite-footer:before { margin: 0 auto 50px; }
 .nav { padding: 60px 20px !important; }
 .hamburger { left: 20px; top: 20px; }
 #logo { top: 20px; padding: 0 70px; }
 .wsite-nav-cart { top: 20px; right: 20px; }
 #banner h2, .splash-page h2, .wsite-checkout-header { font-size: 36px; }
 .splash-page #banner .container { padding: 20px; }
 .wsite-section { height: auto !important; }
 .fancybox-next, .fancybox-prev { display: none !important; }
 .wsite-spacer { height: 15px !important; }
 .imageGallery > div { width: 50% !important; }
 .galleryCaptionHover .galleryCaptionHolder { display: none !important; }
 .galleryImageHolder .galleryCaptionInnerText { margin: 5px auto; line-height: 1; }
 .wsite-com-sidebar, .wsite-com-content-with-sidebar { display: block; width: 100%; margin: 0 auto; padding: 0; text-align: center; }
 .wsite-com-sidebar { background: #d8d8d8; margin: 0 auto 10px; }
 .wsite-com-sidebar:before { content: 'CATEGORIES +'; display: block; font-weight: bold; font-size: 20px; padding: 5px 0 6px; margin: 0 auto; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-com-link-text { padding: 6px 0; }
 #wsite-com-hierarchy { max-height: 0vh; overflow: hidden; -webkit-transition: all 600ms linear; -moz-transition: all 600ms linear; -o-transition: all 600ms linear; -ms-transition: all 600ms linear; transition: all 600ms linear; }
 .open #wsite-com-hierarchy { max-height: 100vh; }
 #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-featured-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-group .wsite-com-column { width: 50% !important; }
 #wsite-com-product-images, .wsite-form-field select, .wsite-com-product-option select { width: 100% !important; }
 #wsite-com-product-images, #wsite-com-product-images .wsite-com-column { float: none !important; }
 #wsite-com-product-info { margin-left: 0 !important; margin-top: 25px; }
 h2.wsite-checkout-header { padding-bottom: 0; }
 .wsite-com-checkout-payment-column, .wsite-com-checkout-summary-column { display: block !important; width: auto !important; max-width: 100% !important; margin: 0 auto 1em !important; }
 #wsite-com-checkout-payment-order { margin-left: 0; }
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { width: 30px !important; height: 30px !important; }
 .wsite-com-continue-shopping .caret, #wsite-com-checkout-list, #wsite-com-checkout-summary-list { font-size: .65em !important; }
 #wsite-com-checkout-cart-footer { text-align: center; }
 .wsite-com-continue-shopping { display: block; margin: 0 auto 5px; }
 #wsite-com-checkout-cart-footer form { float: none !important; }
 #wsite-com-minicart-checkout-button { width: 100%; color: #fff; padding-top: 5px; }
 #wsite-search-header h2, #wsite-search-form-container { width: 100%; }
 #wsite-search-sidebar { display: block; width: 100%; margin: 0 auto; padding: 0; text-align: center; }
 #wsite-search-sidebar { display: none; }
 #wsite-search-results, #wsite-search-product-results .wsite-search-product-result { width: 100% !important; padding: 0 !important; }
 #wsite-search-form-container { float: none; width: 100%; margin-top: 10px; }
 }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }

mark,
.mark {
  background-color: #E3F2FD;
  padding: .2em;
}

mark {
  background: #E3F2FD;
  color: #666666;
}
